<div class="uk-container-expand uk-height-viewport uk-flex uk-flex-top uk-flex-center uk-padding-large uk-background-muted">

  <div class="uk-container-expand uk-height-viewport uk-width-2-3 uk-padding-large">
<h1 class="uk-heading-large"> {{country.name}} </h1>
    <h5>Domain: </h5><span>{{country.topLevelDomain}}</span>
    <p>Capital: </p><span>{{country.capital}}</span>
    <p>Region: </p><span>{{country.region}}</span>
    <p>Subregion: </p><span>{{country.subregion}}</span>
    <p>Population: </p><span>{{country.population}}</span>
    <p>Area: </p><span>{{country.area}}</span>
    <p>Timezone: </p><span>{{country.timezones}}</span>
    <p>Borders: </p><span>{{country.borders}}</span>
    <p>Currencies: </p><span>{{country.currencies}}</span>
    <p>Languages: </p><span>{{country.languages}}</span>

  </div>
</div>
