<div class="uk-container-expand uk-height-viewport uk-flex uk-flex-top uk-flex-center uk-padding-large uk-background-muted">

  <div class="uk-container-expand uk-height-viewport uk-width-2-3 uk-padding-large">
<h1> {{country.name}} <img class="img" src="{{country.flag}}"></h1>
    <ul>
    <p>Domain: <span>{{country.topLevelDomain}}</span></p>
    <p>Capital: <span>{{country.capital}}</span></p>
    <p>Region: <span>{{country.region}}</span></p>
    <p>Subregion: <span>{{country.subregion}}</span></p>
    <p>Population: <span>{{country.population}}</span></p>
    <p>Area: <span>{{country.area}}</span></p>
    <p>Timezone: <span>{{country.timezones}}</span></p>
    <p>Borders: <span>{{country.borders}}</span></p>
    <p>Currencies: <span *ngFor="let currency of country.currencies"> {{currency.name}}; Code: {{currency.code}}, Symbol:
      {{currency.symbol}}</span></p>
    <p>Languages: <span *ngFor="let language of country.languages"> {{ language.name }}</span></p>
    </ul>
  </div>
  <button class="uk-button-large uk-button uk-button-primary uk-border-rounded uk-margin-small-top uk-align-right" routerLink="" (click)="cleanInput">Back to main</button>
</div>
