<div class="uk-container-expand uk-height-viewport uk-flex uk-flex-top uk-flex-center uk-padding-large uk-background-muted">

  <div class="uk-container-expand uk-height-viewport uk-width-2-3 uk-padding-large">
<h1 class="uk-heading-large">  </h1>
    <p>Domain: </p><span></span>
    <p>Capital: </p><span></span>
    <p>Region: </p><span></span>
    <p>Subregion: </p><span></span>
    <p>Population: </p><span></span>
    <p>Area: </p><span></span>
    <p>Timezone: </p><span></span>
    <p>Borders: </p><span></span>
    <p>Currencies: </p><span></span>
    <p>Languages: </p><span></span>

  </div>
</div>
